/* ~~~~ Liste des services ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#list main {
  section {
    border-bottom: 5px solid c(g, 2);
  }

  @media (min-width: 992px) {
    section:not(#results) article.col-md-3:nth-of-type(n+5) {
      display: none;
    }
  }

  .dropup li {
    text-align: center;
    font-size: 18px;
  }
  .dropup li a {
    border: none;
    background-image: none;
    padding: 15px;
  }
  .dropup ul.dropdown-menu {
    padding: 0;
    margin-bottom: -46px;
  }

  @media (min-width:768px) {
    .desc {
      min-height: 150px;
      overflow: auto;
      font-size: 16px;
      font-weight: 300;
    }
  }
  @media (min-width:1200px) {
    .desc {
      min-height: 110px;
      overflow: auto;
      font-size: 16px;
      font-weight: 300;
    }
  }
}
