#sticky {
  z-index: 1;
  top: 0px;
  background: none repeat scroll 0% 0% #FFF;
  margin: 0;
  padding: 5px 15px;

  .nav-wrapper {
    position: relative;
    overflow: hidden;
    padding: 5px;
    height: 50px;
    margin: 0 15px;
    border: none;
    background: c(g, 2);
  }

  .nav {
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 12px;
    margin-top: 0px;
    transition: left 1s linear;
    display: table-cell;

    li {
      display: table-cell;
      position: relative;
      vertical-align: middle;
      text-transform: uppercase;
      white-space: nowrap;
      height: 50px;

      a {
        padding: .5rem 1rem;
        color: c(g, 7);
        fill: c(g, 6);

        span span {
          display:none;
        }
      }

      &.active a {
        color: c(g, 8);
        fill: c(g, 7);

        span span {
          display: inline;
        }
      }

      &:first-child.active {
        display: none;
      }
    }
  }
}

.scroller {
  text-align: center;
  cursor: pointer;
  padding: 7px;
  padding-top: 15px;
  white-space: no-wrap;
  vertical-align: middle;
  background-color: #fff;
  color: c(g, 8);
  fill: c(g, 8);
}

.scroller-right{
  float: right;
}

.scroller-left {
  float: left;
}