#timeline {
  overflow-x: hidden;
  margin-top: 0;
  background-color: #fff;

  #app {
    color: #fff;
    padding-bottom: 50px;

    main {
      margin-top: 0;
    }

    a {
      color: #fff;
      text-decoration: underline;
      text-decoration-style: solid;
      background: none;
    }
  }

  /* Classes pour utiliser la couleur de titre en arrière plan */
  .fond-frama  { background-color: c(f, 7) !important; }
  .fond-soft   { background-color: c(o, 7) !important; }
  .fond-logiciel { background-color: c(b, 7) !important; }
  .fond-culture  { background-color: c(r, 8) !important; }
  .fond-services { background-color: c(v, 6) !important; }
  .fond-vrac   { background-color: c(j, 7) !important; }
  /* INTRO SECTION
      –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .intro {
    padding: 3rem 0;
  }

  .container hr {
    margin-top: 3rem;
  }

  .container h1 {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

  /* TIMELINE
     –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .timeline ul {
    background: #fff;
    padding: 0 0;
  }

  .timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #616161;
  }

  .timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
  }

  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background:c(g, 7);
  }

  .timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }

  .timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparentc(g, 7) transparent transparent;
  }

  .timeline ul li:nth-child(odd) div.fond-frama::before { border-color: transparent c(f, 7) transparent transparent; }
  .timeline ul li:nth-child(odd) div.fond-soft::before { border-color: transparent c(o, 7) transparent transparent; }
  .timeline ul li:nth-child(odd) div.fond-logiciel::before { border-color: transparent c(b, 7) transparent transparent; }
  .timeline ul li:nth-child(odd) div.fond-culture::before { border-color: transparent c(r, 8) transparent transparent; }
  .timeline ul li:nth-child(odd) div.fond-services::before { border-color: transparent c(v, 6) transparent transparent; }
  .timeline ul li:nth-child(odd) div.fond-vrac::before { border-color: transparent c(j, 7) transparent transparent; }
  .timeline ul li:nth-child(even) div {
    left: -439px;
  }

  .timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent c(g, 7);
  }
  .timeline ul li:nth-child(even) div.fond-frama::before { border-color: transparent transparent transparent c(f, 7); }
  .timeline ul li:nth-child(even) div.fond-soft::before { border-color: transparent transparent transparent c(o, 7); }
  .timeline ul li:nth-child(even) div.fond-logiciel::before { border-color: transparent transparent transparent c(b, 7); }
  .timeline ul li:nth-child(even) div.fond-culture::before { border-color: transparent transparent transparent c(r, 8); }
  .timeline ul li:nth-child(even) div.fond-services::before { border-color: transparent transparent transparent c(v, 6); }
  .timeline ul li:nth-child(even) div.fond-vrac::before { border-color: transparent transparent transparent c(j, 7); }

  time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }


  /* EFFECTS
     –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .timeline ul li::after {
    transition: background .5s ease-in-out;
  }

  .timeline ul li.in-view::after {
    background: c(g, 7);
  }
  .timeline ul li.in-view.li-frama::after  { background: c(f, 7); }
  .timeline ul li.in-view.li-soft::after   { background:c(o, 7); }
  .timeline ul li.in-view.li-logiciel::after { background: c(b, 7); }
  .timeline ul li.in-view.li-culture::after  { background: c(r, 8); }
  .timeline ul li.in-view.li-services::after { background: c(v, 6); }
  .timeline ul li.in-view.li-vrac::after   { background: c(j, 7); }

  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
  }

  .timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
  }

  .timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
  }

  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }


  /* GENERAL MEDIA QUERIES
     –––––––––––––––––––––––––––––––––––––––––––––––––– */

  @media screen and (max-width: 900px) {
    .timeline ul li div {
      width: 250px;
    }
    .timeline ul li:nth-child(even) div {
      left: -289px;
      /*250+45-6*/
    }
  }

  @media screen and (max-width: 600px) {
    .box, .text {
      display: block;
    }
    .timeline ul li {
      margin-left: 20px;
    }
    .timeline ul li div {
      width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
      left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent c(g, 7) transparent transparent;
    }
  }
}
