<template>
  <b-dd
    id="f-i18n"
    ref="f-i18n"
    right
    variant="outline-secondary"
    :title="$t('nav.langChange', '-t')"
  >
    <template v-slot:button-content>
      <svg-icon
        name="language"
        size="lg"
        :label="$t('nav.lang', '-t')"
        sr-only
      />
    </template>
    <li
      v-for="lang in locales.visible"
      :key="lang"
    >
      <b-link
        :to="`/${lang}/${($route.path.split('/')[2] || '')}`"
        class="dropdown-item"
        @click.native="changeLanguage(lang)"
        v-text="locales[lang]"
      />
    </li>
    <b-dd-divider v-if="$te('meta.i18n')" />
    <li v-if="$te('meta.i18n')">
      <a
        :href="$t('meta.i18n')"
        class="dropdown-item"
      >
        <svg-icon
          name="plus"
          :label="$t('nav.translate')"
        />
      </a>
    </li>
  </b-dd>
</template>

<script>
export default {
  data() {
    return {
      currentComponent: '',
      switchLanguage: 'en',
      locales: this.$i18n.messages.locales,
    };
  },
  methods: {
    changeLanguage(lang) {
      this.switchLanguage = lang;
      this.$i18n.locale = lang;
      [this.currentComponent] = [this.$route.path.split('/')[2]];
      this.$refs['f-i18n'].hide(true);
    },
  },
};
</script>
