<template>
  <div class="clearfix col-xs-12">
    <p class="signature text-right small mr-2">
      <span v-text="`${$t('meta.start')} ${$t('meta.date-start')}`"></span>
      <br />
      <span v-text="`${$t('meta.edit')} ${$t('meta.date-edit')}`"></span>
    </p>
  </div>
</template>
